@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(48, 57, 71);
    background: linear-gradient(180deg, rgba(48, 57, 71, 1) 56%, rgba(91, 100, 119, 1) 73%, rgba(187, 190, 195, 1) 97%);
    height: 100vh;
}